node_modules

# Hardhat files
cache
artifacts

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage/
coverage.json

# brownie
__pycache__
.env
.history
.hypothesis/
build/
reports/

scripts/*test*.py
!scripts/defaults.py
!scripts/load_key.py

# eco
abi

# echidna
crytic-export

# dev & testing
scripts/*test*.ts

# yarn4 not zero install
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*